{% extends "base.html" %}

{% block head %}
	<link href="/css/game.css" rel="stylesheet" type="text/css" media="screen" />
  {{ super() }}
{% endblock %}

{% block title %}
  Welcome
{% endblock %}

{% block body_tag %}
	<body onload='StartGame();'>
{% endblock %}

{% block login_box %}
  {{ super() }}
{% endblock %}

{% block top_nav %}
	<ul id="top_nav_menu">
		<li><a href="/">Home</a></li>
		<li><a href="/the-idea-behind-social-evolution-the-game">The Idea</a></li>
		<li><a href="/the-social-evolution-blog">The Blog</a></li>
		<li><a href="/play-the-social-evolution-game">The Game</a></li>
		<li><a href="/how-to-get-involved">Get Involved</a></li>
	</ul>
{% endblock %}

{% block content_main %}
	<div id='gameWindow'>
		<canvas id="gameCanvas" width="640" height="480"></canvas>
	</div>
	<script src="/js/app.js" type="text/javascript"></script>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}<!doctype html>
